section.about 
    .container 
        .title.title--with-bottom-line
        h2.title.title__header About us
        .title__text We are added our major Services 

        ul.about--list
            li.about__item  
                .icon.icon-like 
                h3.about__header Facebook Marketing 
                p.about__description Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo velit repellendus debitis libero aspernatur. Maiores dignissimos odit non modi eos aut, excepturi corrupti vitae aspernatur ex temporibus! Voluptate, doloribus minima.

            li.about__item  
                .icon.icon-book 
                h3.about__header Landing page Creation 
                p.about__description Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo velit repellendus debitis libero aspernatur. Maiores dignissimos odit non modi eos aut, excepturi corrupti vitae aspernatur ex temporibus! Voluptate, doloribus minima.

            li.about__item  
                .icon.icon-message 
                h3.about__header Ads management 
                p.about__description Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo velit repellendus debitis libero aspernatur. Maiores dignissimos odit non modi eos aut, excepturi corrupti vitae aspernatur ex temporibus! Voluptate, doloribus minima.
            